apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sentinel
  template:
    metadata:
      labels:
        app: sentinel
    spec:
      containers:
        - name: sentinel
          image: strangerbr/sentinel:latest
          ports:
            - containerPort: 5000
          envFrom:
            - secretRef:
                name: sentinel-secret